<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790854017052-uaqrc20mf9hoccf34pqu5bthiiqvrcpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790854017052-uaqrc20mf9hoccf34pqu5bthiiqvrcpf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>790854017052-0nufqse2vou8g3s7os87e7djg2ofclm8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByHMM69L-SM_C2M-DbDWkuVa0Q4XJkhw8</string>
	<key>GCM_SENDER_ID</key>
	<string>790854017052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ticketpro.ripastop</string>
	<key>PROJECT_ID</key>
	<string>ripa-a6790</string>
	<key>STORAGE_BUCKET</key>
	<string>ripa-a6790.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790854017052:ios:bd5b2dd0c0a7d54a1c7fd9</string>
</dict>
</plist>