<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396046008952-cgcl8h02juikblvtkekb16d3si0s9ije.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396046008952-cgcl8h02juikblvtkekb16d3si0s9ije</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>396046008952-9a27t1cl69ku80rea5afjbtfpvaq6u00.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1Q_AdKxNfKzTtsR1A07ZkIFZUTs0kal4</string>
	<key>GCM_SENDER_ID</key>
	<string>396046008952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ticketpro.ripastop24</string>
	<key>PROJECT_ID</key>
	<string>ripa24-8f93d</string>
	<key>STORAGE_BUCKET</key>
	<string>ripa24-8f93d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396046008952:ios:b0184a4a24c32345c7638d</string>
</dict>
</plist>